<div class="custom-image-card">
  {% if block.settings.image %}
    <div class="custom-image-card__image">
      <img src="{{ block.settings.image | img_url: '400x400' }}" 
           alt="{{ block.settings.title | escape }}">
    </div>
  {% endif %}
  
  <div class="custom-image-card__content">
    {% if block.settings.title %}
      <h3 class="custom-image-card__title">{{ block.settings.title }}</h3>
    {% endif %}
    
    {% if block.settings.description %}
      <p class="custom-image-card__description">{{ block.settings.description }}</p>
    {% endif %}
    
    {% if block.settings.cta_link and block.settings.cta_text %}
      <a href="{{ block.settings.cta_link }}" class="custom-image-card__cta">
        {{ block.settings.cta_text }}
      </a>
    {% endif %}
  </div>
</div>